@import '_variables';

/*
* ************************************
* Desktop Settings
* ************************************
*/

.docContainer {
  display: flex;
  flex-direction: row;
  margin-top: $navBar-height;
}

.docSidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: #f05800;
  position: fixed;

  a {
    text-decoration: none;
  }
}

.docContent {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 20%;
}

.docContentSection {
  width: 30vw;
  height: $nonNavBar-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 8vh;
  padding-top: 5vh;
}