@import '_variables';

/*
* ************************************
* Desktop Settings
* ************************************
*/

.docContainer {
  display: flex;
  flex-direction: row;
}

.docSidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: #f05800; 
  position: fixed;

  a {
    text-decoration: none;
  }
}

.docContent {
  display: flex; 
  flex-direction: column; 
  width: 80%;
  margin-left: 20%;
}

// .docContentSection {
//in here, have rules for each heading size, images, etc
// }