@import '_variables';

/*
* ************************************
* Desktop Settings
* ************************************
*/

.navBar {
  background-color: $color-yellow;
  z-index: 2;
  width: 100vw;
  height: $navBar-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    max-height: 4vh;
    margin-left: 2vh;
  }
  position: fixed;
}

.navButton {
  background-color: transparent;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: default;
  &:hover {
    position: relative;
    top: -2px;
  }
}

/*
* ************************************
* Larger than iPhone 6/7/8 Plus
* ************************************
*/

@media screen and (min-width: 415px) {
  .navBar {
    justify-content: space-around;
  }
}

/*
* ************************************
* Surface Duo
* ************************************
*/

@media screen and (max-width: 540px) {
  .navButton {
    font-size: 2vh;
    min-height: 5vh;
  }
}

/*
* ************************************
* iPhone 6/7/8 Plus or smaller
* ************************************
*/

@media screen and (max-width: 414px) {
  .navButton {
    font-size: 3vh;
    min-width: 40vw;
    min-height: 5vh;
  }
  .navBar {
    overflow-x: scroll;
  }
}

