@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Raleway:wght@200;400&display=swap');
@import '_variables';


/*
* ************************************
* Desktop Settings
* ************************************
*/

h1 {
  font-family: 'Codystar';
  font-size: $header-size-large;
  color: $color-text-white;
}

h2 {
  font-family: 'Codystar';
  font-size: $header-size-medium;
  color: $color-text-gray;
}

h3 {
  font-family: 'Codystar';
  font-size: $header-size-medium;
  color: $color-text-white;
}

.p1 {
  font-family: 'Raleway';
  // font-size: $paragraph-size-large * 1.1;
  font-size: $paragraph-size-large-px;
  color: $color-text-white;
  font-weight: 370;
  line-height: $paragraph-lineHeight-large;
}

.p2 {
  font-family: 'Raleway';
  font-size: $paragraph-size-large;
  color: $color-text-gray;
  font-weight: 370;
  line-height: $paragraph-lineHeight-large;
}

.p3 {
  font-family: 'Raleway';
  font-size: $paragraph-size-medium;
  color: $color-text-white;
  font-weight: 370;
  line-height: $paragraph-lineHeight-medium;
}

.p4 {
  font-family: 'Raleway';
  font-size: $paragraph-size-medium;
  color: $color-text-gray;
  font-weight: 370;
  line-height: $paragraph-lineHeight-medium;
}

.p4b {
  font-family: 'Raleway';
  font-size: $paragraph-size-medium;
  color: $color-text-gray;
  font-weight: 900;
}

.p5 {
  font-family: 'Raleway';
  font-size: $paragraph-size-small;
  color: $color-text-white;
  font-weight: 370;
}

.p6 {
  font-family: 'Raleway';
  // font-size: $paragraph-size-small;  
  font-size: 16px;  
  color: $color-text-gray; // Team text format
  font-weight: 370;
}

.p7 {
  font-family: 'Courier New';
  font-size: $code-size-small;
  color: $color-text-white;
  font-weight: 350;
  line-height: $paragraph-lineHeight-small;
}

/*
* ************************************
* Large Laptop Screen
* ************************************
*/


@media screen and (max-width: 1700px) {
  .p6{
    font-size: 14px;  
  }
}
/*
* ************************************
* Half Laptop Screen
* ************************************
*/

@media screen and (max-width: 700px) {
  .p1 {
    font-size: $paragraph-size-large-px;
  }
}

/*
* ************************************
* Larger than iPhone 6/7/8 Plus
* ************************************
*/

@media screen and (min-width: 415px) {
  .p1 {
    font-size: $paragraph-size-large-px;
  }
}