@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Raleway:wght@200;400&display=swap');
@import '_variables';

h1 {
  font-family: 'Codystar';
  font-size: $header-size-large;
  color: $color-text-white;
}

h2 {
  font-family: 'Codystar';
  font-size: $header-size-medium;
  color: $color-text-gray;
}

h3 {
  font-family: 'Codystar';
  font-size: $header-size-medium;
  color: $color-text-white;
}

.p1 {
  font-family: 'Raleway';
  font-size: $paragraph-size-large;
  color: $color-text-white;
  font-weight: 300;
  line-height: $paragraph-lineHeight-large;
}

.p2 {
  font-family: 'Raleway';
  font-size: $paragraph-size-large;
  color: $color-text-gray;
  font-weight: 300;
}

.p3 {
  font-family: 'Raleway';
  font-size: $paragraph-size-medium;
  color: $color-text-white;
  font-weight: 300;
}

.p4 {
  font-family: 'Raleway';
  font-size: $paragraph-size-medium;
  color: $color-text-gray;
  font-weight: 300;
}

.p4b {
  font-family: 'Raleway';
  font-size: $paragraph-size-medium;
  color: $color-text-gray;
  font-weight: 900;
}

.p5 {
  font-family: 'Raleway';
  font-size: $paragraph-size-small;
  color: $color-text-white;
  font-weight: 300;
}

.p6 {
  font-family: 'Raleway';
  font-size: $paragraph-size-small;  
  color: $color-text-gray;
  font-weight: 300;
}

.p7 {
  font-family: 'Courier New';
  font-size: $code-size-small;
  color: $color-text-white;
}