@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Raleway:wght@200;400&display=swap');
@import '_variables';

h1 {
  font-family: 'Codystar';
  font-size: $header-size-large;
  color: $color-text-white;
}

h2 {
  font-family: 'Codystar';
  font-size: $header-size-medium;
  color: $color-text-gray;
}

h3 {
  font-family: 'Codystar';
  font-size: $header-size-medium;
  color: $color-text-white;
}

p1 {
  font-family: 'Raleway';
  font-size: $paragraph-size-large;
  color: $color-text-white;
}

p2 {
  font-family: 'Raleway';
  font-size: $paragraph-size-large;
  color: $color-text-gray;
}

p3 {
  font-family: 'Raleway';
  font-size: $paragraph-size-medium;
  color: $color-text-white;
}

p4 {
  font-family: 'Raleway';
  font-size: $paragraph-size-medium;
  color: $color-text-gray;
}

p5 {
  font-family: 'Raleway';
  font-size: $paragraph-size-small;
  color: $color-text-white;
}

p6 {
  font-family: 'Raleway';
  font-size: $paragraph-size-small;  
  color: $color-text-gray;
}

p7 {
  font-family: 'Courier New';
  font-size: $code-size-small;
  color: $color-text-white;
}