@import '_variables';

// @media screen and (max-width: 540px) {
//   .navButton {
//     font-size: 2vh;
//     min-height: 5vh;
//   }
// }

// // iPhone 6/7/8 Plus or smaller
// @media screen and (max-width: 414px) {
//   .navButton {
//     font-size: 3vh;
//     min-width: 40vw;
//     min-height: 5vh;
//   }
//   .navBar {
//     overflow-x: scroll;
//   }
// }

// // Larger than iPhone 6/7/8 Plus
// @media screen and (min-width: 414px) {
//   .navBar {
//     justify-content: space-around;
//   }
// }

// // Desktop Settings
// .navBar {
//   background-color: $color-yellow;
//   width: 100vw;
//   height: $navBar-height;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

// .navButton {
//   background-color: transparent;
//   width: 15vw;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   cursor: default;
//   &:hover {
//     position: relative;
//     top: -2px;
//   }
// }

.portalContainer {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  color: $color-text-gray;
  left: 0%;
  top: $navBar-height;
  width: 16.7vw;
  height: 100vh;
  overflow: auto; /* Enable scroll if needed */
  background-color: $color-yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
  padding: 2%;
  // align-self: center;
  // justify-self: center
}
