$color-red: #f05d06ff;
$color-yellow: #fce588ff;
$color-offwhite: #fcfcfcff;
$color-green: #495d60ff;

$color-text-gray: #666666;
$color-text-white: #FFFFFF;

$header-size-large: 40pt;
$header-size-medium: $header-size-large * 0.55;

$paragraph-size-large: 16pt;
$paragraph-size-medium: $paragraph-size-large * 0.70;
$paragraph-size-small: $paragraph-size-large * 0.55;

$code-size-small: 12pt;

