@import '_variables';
@import '_text';
@import '_navBar';


// iPad Portrait
@media screen and (max-width: 768px) {}
@media screen and (max-height: 1024px) {}

// iPad Landscape
@media screen and (max-width: 1024px) {}
@media screen and (max-height: 768px) {}

// iPhone X
@media screen and (max-width: 375px) {}
@media screen and (max-height: 812px) {}

.app {
  background-color: $color-offwhite;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;

}